/* HP Green: #76bd22 */

#header .logo {
  border: none;
  width: auto;
  height: auto;
  line-height: 0;
}

#header .logo img {
  max-width: 100%;
}

#bg:before {
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.7), rgba(19, 21, 25, 0.7)), url("../../images/overlay.png");
}

#header > *:before {
  content: none;
}

#header .content {
  border-color: #76bd22;
  border-top-width: 3px;
  border-bottom-width: 3px;
}

h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
  border-bottom: solid 3px #76bd22;
}

.image:before {
  background: none;
}
